.game-detail
  background-color: #fff
  min-height: 100vh

.game-detail-img 
  width: 100% 
  height: 25em

.game-detail-name 
  margin-top: -2em
  color: #fff
  font-size: 48px
  text-shadow: 4px 3px #000
  margin-left: 1em

.game-detail-text 
  margin-right: 3em
  margin-top: 1em
  display: flex
  flex-direction: row
  font-size: 16px
  line-height: 1.5

.game-detail-text-data
  width: 20%
  text-shadow: 5px 5px #fff
  margin-left: 2rem
  margin-right: 2rem

.game-detail-text-description
  width: 40%
  margin-left: 2rem
  margin-right: 3rem
  text-align: justify

.game-detail-text-ratings
  margin-left: 2rem
  width: 40%

.game-detail-text-ratings-values
  margin-bottom: 2rem
  display: flex
  flex-direction: row
  gap: 2rem

.game-detail-text-ratings-values > *
  display: flex
  flex-direction: column
  gap: .3rem

.game-detail-text-ratings-card
  font-size: 14px

.game-detail-text-ratings-add
  height: fit-content
  margin-top: 1rem !important
  width: max-content

.game-detail-text-ratings-header
  display: flex
  flex-direction: row
  gap: 12rem

h3
  margin-bottom: 2rem